jobs:
  cancel-existing:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-latest
    steps:
      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: rokroskar/workflow-run-cleanup-action@v0.3.2
  release:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true
          ref: ${{ github.event.pull_request.head.repo.full_name == github.repository &&
            github.event.pull_request.head.ref || '' }}
      - uses: actions/setup-node@v2
        with:
          node-version: 12
      - run: git config --global user.email "actions@github.com"
      - run: git config --global user.name "GitHub Actions"
      - run: yarn --frozen-lockfile
      - run: yarn checkUnknownFiles
      - run: yarn lint
      - env:
          GITHUB_REPOSITORY: ${{ secrets.GITHUB_REPOSITORY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        name: Push changed files
        run: yarn dw-ci push-changed-files
      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        if: github.ref == 'refs/heads/master'
        name: Release
        run: yarn semantic-release
  test:
    needs: cancel-existing
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          lfs: true
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - run: yarn --frozen-lockfile
      - run: yarn test
      - if: failure()
        uses: actions/upload-artifact@v2
        with:
          path: "**/__image_snapshots__/__diff_output__"
      - if: matrix.os == 'ubuntu-latest' && matrix.node == 12
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
    strategy:
      matrix:
        exclude:
          - node: 10
            os: macos-latest
          - node: 10
            os: windows-latest
        node:
          - 10
          - 12
        os:
          - macos-latest
          - windows-latest
          - ubuntu-latest
name: build
on:
  pull_request: {}
  push:
    branches:
      - master
